slide-menu {
  .slide-menu {
    background: rgba(0, 0, 0, 0.2);
    height: 50px;
    margin-bottom: 20px;
    // left: -100px;
    // position: absolute;
    // top: 200px;
    width: 200px;
  }

}
